@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap");
:root {
  --orange: #e96113;
  --green: #3d583d;
  --brown: #161308;
  --pink: #ca7474;
  --cream: #fff6da;
  --gray: #37382e;
}

body {
  position: relative;
  font-family: "Source Code Pro";
}

a {
  text-decoration: none;
  color: var(--pink);
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--green);
  padding: 25px 2.5%;
  position: sticky;
  top: 0%;
  border-bottom: 10px solid var(--brown);
}

header h1 {
  font-size: 350%;
  color: var(--orange);
}

/* header.main-header*/
nav a,
footer a,
footer li {
  position: relative;

  font-size: 20px;
}

nav a:not(last-child) {
  margin-right: 20px;
}

nav a:after,
footer a:after,
footer li:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background: var(--orange);
  transition: width 0.2s;
}

nav a:hover:after,
footer a:hover:after,
footer li:hover:after {
  width: 100%;
}

/* content */

/* main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0%;
  justify-content: space-around;
} */

.about {
  display: flex;
  /* flex-wrap: wrap; */

  /* flex-direction: column; */
  /* align-items: baseline; */
  background: var(--gray);
  min-width: 800px;
}

.about div {
  flex: 1 0 30%;
  align-items: flex-start;
}

.about h2,
.about img,
.about p,
#main-project,
.project {
  border: 10px solid var(--brown);
  border-radius: 40px;
  margin: 2.3%;
}

.about h2,
.about img {
  width: 90%;
}

.about h2 {
  font-size: 300%;
  color: var(--pink);
  background: var(--green);
  padding: 2% 0%;
  margin-top: 5%;
  text-align: center;
}

.about img {
  border-radius: 10%;
  margin-bottom: 5%;
}

.about p {
  flex: 1 0 60%;
  align-items: flex-end;
  padding: 5%;
  background: var(--cream);
}

article {
  display: flex;
  flex: 1 0 75%;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  background: var(--orange);
}

#main-project {
  flex: 1 0 90%;
  display: flex;
  height: 780px;
  background: var(--cream);
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

#main-project img,
.project img {
  flex: 0 0 50%;
  border-radius: 30px;
  width: 50%;
  max-height: 100%;
}

#main-project h3 {
  flex: 0 0 50%;

  color: var(--pink);
  background: var(--green);
  padding: 5%;
  font-size: 45px;
}

.project {
  flex: 0 0 45%;
  display: flex;
  height: 350px;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  background: var(--cream);
  text-decoration: none;
}

.project h3 {
  flex: 0 0 50%;

  color: var(--pink);
  background: var(--green);
  padding: 5%;
  font-size: 20px;
}

footer {
  display: flex;
  width: 100%;
  background: var(--green);
  text-align: center;
  position: sticky;
  bottom: 0px;
  padding: 1%;
  justify-content: space-between;
  font-size: 20px;
}

footer li {
  display: inline-block;
  margin: 0 10px;
  color: var(--pink);
}

/* Media Query */

@media (max-width: 820px) {
  header h1 {
    font-size: 30px;
    padding: 30px;
  }
  header a {
    font-size: 10px;
    margin: none;
  }
  .about {
    flex-direction: column;
  }
  article {
    flex-direction: column;
  }
  #main-project {
    max-height: 420px;
    min-height: 420px;
    flex: 1 0 90%;
  }

  #main-project h3 {
    flex: 1 0 50%;
    color: var(--pink);
    background: var(--green);
    padding: 5%;
    font-size: 20px;
  }
  .project {
    max-height: 420px;
    min-height: 420px;
    flex: 1 0 100%;
  }
  footer li {
    margin: 0 5px;
  }
  footer li a {
    font-size: 15px;
  }
}
